// scss全局变量

// 菜单样式
$base-menu-width: 260px;
$base-menu-background: #001529;
$base-menu-min-width: 64px;

$base-menu-logo-height: 50px; // 菜单logo
$base-logo-title-fontSize: 20px; // 菜单logo后的文字大小

// 顶部导航高度
$base-tabbar-height: 100px;
